@{
    ViewBag.Title = "Login";
}

<link rel="stylesheet" href="../../Content/login.css"/>
<script src="../../Scripts/login.js"></script>
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center">
                <img src="../../Content/Images/logo_transparente.png">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>

            <div id="div-forms">

                <form action="@Url.Action("CommonLogin", "Login")" method="post" id="login-form">
                    <div class="modal-body">
                        @Html.TextBox("nomeUsuario", null, new
                        {
                            @class = "form-control",
                            @id = "login_username",
                            @placeholder = "Usuário"
                        })
                        @Html.Password("senhaUsuario", null, new
                        {
                            @class = "form-control",
                            @id = "login_password",
                            @placeholder = "Senha"
                        })
                    </div>
                    <div class="modal-footer">
                        <div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block btn-login">Login</button>
                        </div>
                    </div>
                    @Html.ActionLink("Registrar", "Register", "User")
                </form>
            </div>
        </div>
    </div>
</div>
