@{
    ViewBag.Title = "Registre suas horas, parça";
}

<h2>@ViewBag.Title</h2>

<div class="alert alert-success alert-dismissible hidden" role="alert">
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p id="added" class="text-center"></p>
</div>

<table id="myTable"></table>

<script>
     $(document).ready(function () {
         var table = $('#myTable').DataTable({
            pageLength: 11,
            serverSide: true,
            ajax: "/home/pagedata",
            "language": {
                "url": "http://cdn.datatables.net/plug-ins/1.10.15/i18n/Portuguese-Brasil.json"
            },
            "lengthMenu": [ [11, 200], [11, "All"] ],
                columns: [
                {
                    name: 'name',
                    data: 'name',
                    title: "Nome",
                    sortable: false
                },
                {
                    name: 'starting',
                    data: "starting",
                    title: "Início",
                    sortable: false
                },
                {
                    name: 'ending',
                    data: "ending",
                    title: "Fim",
                    sortable: false
                },
                {
                    title: "Add/Rem",
                    "targets": -1,
                    "data": null,
                    "defaultContent": "<button class='btn btn-success'>Adiconar</button>",
                    sortable: false
                }
            ]
        });

         $('#myTable tbody').on( 'click', '.btn-success', function () {
             $(this).removeClass('btn-success');
             $(this).addClass('btn-danger');
             $(this).text('Remover');

             $('.alert').removeClass('alert-danger');
             $('.alert').addClass('alert-success');

             var availability = table.row( $(this).parents('tr') ).data();

             $.post('/Home/AddAvailability', { 'availability': availability }, function() {
                 $('.alert').removeClass('hidden');
                 $('#added').text("Adicionado " + availability["name"] + " das " +
                     availability["starting"] + " até as " + availability["ending"]);
             });
         });

         $('#myTable tbody').on( 'click', '.btn-danger', function () {
             $(this).removeClass('btn-danger');
             $(this).addClass('btn-success');
             $(this).text('Adicionar');

             $('.alert').removeClass('alert-success');
             $('.alert').addClass('alert-danger');

             var availability = table.row( $(this).parents('tr') ).data();

             $.post('/Home/RemoveAvailability', { 'availability': availability }, function() {
                 $('.alert').removeClass('hidden');
                 $('#added').text("Removido " + availability["name"] + " das " +
                     availability["starting"] + " até as " + availability["ending"]);
             });


         });

         $('.alert .close').on('click', function() {
             $(this).parent().addClass('hidden');
         });
    });

</script>