@using System.Collections
@using System.Web.UI.WebControls
@using FabPonto.Controllers


@{

    if (IsPost) {
        HoursController hoursController = new HoursController();

        string entryTime = Request.Form["entryTime"];
        string exitTime = Request.Form["exitTime"];
        string entryTimeLower = entryTime.ToLower();
        string exitTimeLower = exitTime.ToLower();

        bool containTwoPoints = false;
        bool exitBiggerEntry = false;
        bool validateFiveLength = false;
        bool hourInOfLimits = false;
        bool minutesInOfLimits = false;

        bool timeNotEmpty = hoursController.ValidateTimeIsNotEmpty(entryTimeLower, exitTimeLower);
        if (timeNotEmpty)
        {
            containTwoPoints = hoursController.ValidateTwoPointsOnHours(entryTimeLower, exitTimeLower );
            exitBiggerEntry = hoursController.AssertExitTimeIsAfterThanEntryTime(entryTimeLower , exitTimeLower);
            validateFiveLength = hoursController.ValidateFiveLenght(entryTimeLower, exitTimeLower);
            hourInOfLimits = hoursController.ValidateHoursContainsOnlyNumber(entryTimeLower, exitTimeLower);
            minutesInOfLimits = hoursController.ValidateMinutesContainsOnlyNumber(entryTimeLower, exitTimeLower);
        }

        if (exitBiggerEntry && validateFiveLength && timeNotEmpty && containTwoPoints
            && hourInOfLimits && minutesInOfLimits)
        {
            hoursController.storeHoursOnDatabase(entryTimeLower, exitTimeLower);
            <text>
                Horário cadastrado com sucesso!
            </text>
        }
        else
        {
            ArrayList errors = null;
            errors = hoursController.InsertErrors(exitBiggerEntry , hourInOfLimits , minutesInOfLimits , timeNotEmpty);

            if (errors != null)
            {
                int percorreErros = 0;
                for (percorreErros = 0; percorreErros < errors.Count; percorreErros++)
                {
                    <text>
                        Erro @(percorreErros+1): @errors[percorreErros]  <br/>
                    </text>
                }

            }

        }

    }


}
<html>
    <body>
        <form method="post"  >
        <fieldset>
            <div>
                <label for="entryTime">Hora de entrada:</label>
                <input type="time" name="entryTime" value="" placeholder="09:40" />
            </div>

            <div>
                <label for="exitTime">Hora de saída:</label>
                <input type="time" name="exitTime" value="" placeholder="19:27" />
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Registrar" class="submit" />
            </div>
        </fieldset>
        </form>
    </body>
</html>