@using MySql.Data.MySqlClient
@{
    if (IsPost) {
        string entryTime = Request.Form["entryTime"];
        string exitTime = Request.Form["exitTime"];

        MySqlConnection connection = new MySqlConnection("Database=FabContext;Data Source=localhost;User " +
                                                         "Id=root;Password=root");
        connection.Open();

        MySqlCommand insertCommand = connection.CreateCommand();
        const string SECONDS = ":00";
        string VARIABLEFROMDATABASE = entryTime+SECONDS + "','" + exitTime+SECONDS ;
        insertCommand.CommandText = "INSERT INTO hours (entry_time,exit_time) VALUES ('" + VARIABLEFROMDATABASE +"')";
        insertCommand.ExecuteNonQuery();

        MySqlCommand selectCommand =  connection.CreateCommand();
        selectCommand.CommandText = "select * from hours";
        MySqlDataReader reader = selectCommand.ExecuteReader();
        string entryTimeFromDatabase = null;
        string exitTimeFromDatabase = null;
        while (reader.Read())
        {
            reader.GetString(0);
            entryTimeFromDatabase = reader["entry_time"].ToString();
            exitTimeFromDatabase = reader["exit_time"].ToString();
        }
        <text>
            Hora de entrada(database): @entryTimeFromDatabase <br />
            Hora de saída(database): @exitTimeFromDatabase <br />
        </text>
        reader.Close();
    }
}
<html>
    <body>
        <form method="post" >
        <fieldset>
            <div>
                <label for="entryTime">Hora de entrada:</label>
                <input type="time" name="entryTime" value="" />
            </div>

            <div>
                <label for="exitTime">Hora de saída:</label>
                <input type="time" name="exitTime" value="" />
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="submit" value="Registrar" class="submit" />
            </div>
        </fieldset>
        </form>
    </body>
</html>