@model FabPonto.Models.User


<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-body">
            @using (@Html.BeginForm())
            {
                <div class="form-group">
                    <label>Nome:</label>
                    @Html.TextBoxFor(c => c.Name, new {@class = "form-control"})
                </div>

                <div class="form-group">
                    <label>Email:</label>
                    @Html.TextBoxFor(c => c.Email, new {@class = "form-control"})
                </div>

                <div class="form-group">
                    <label>Senha:</label>
                    @Html.TextBoxFor(c => c.Password, new {@class = "form-control", @type = "password"})
                </div>

                <div class="form-group">
                    <label>Confirmar Senha:</label>
                    <input type="password" name="conf_password" class="form-control"/>
                </div>

                <input type="submit" class="btn btn-success" value="Registrar"/>
            }
        </div>
    </div>
</div>